extends layouttables 
block content
  header
    h2 Mayondo Wood &amp; Furniture User Management
  .search-bar-container
    .search-left
      .input-group
        span.input-group-text
          i.fas.fa-search
        input.form-control(type='text', id='searchInput', placeholder='Search a product...')
    .search-right
      select#filterBy.form-select
        option(value='') Filter by
        option(value='productType') Product Type
        option(value='supplierName') Sales Agent
      select#sortBy.form-select
        option(value='') Sort by
        option(value='date') Date
        option(value='quantity') Quantity
      a.button(href='/recit') Print Recit  
      a.button(href='/sales' type='button') Add Sales 
      button.btn-filter(type='button')
        i.fas.fa-filter
  table
    thead
      tr
        th Customer Name
        th Product Name
        th Product Type
        th Quantity
        th Product Price
        th Color 
        th Measurement
        th Date Of Sale
        th Payment Method
        th Sales Agent 
        th Total Price
        th Transport
        th Update 
        th Delete
      tbody
        if items.length
          each item in items
            tr
              td #{item.customerName}
              td #{item.productName}
              td #{item.productType}
              td #{item.quantity}
              td #{item.unitPrice}
              td #{item.color}
              td #{item.measurement}
              td #{item.salesDate}
              td #{item.paymentMethod}
              td
                if item.attendant && item.attendant.fullName
                  | #{item.attendant.fullName}
                else
                  span(style="color:red; font-style:italic") Deleted User
              td #{item.totalPrice}
              td #{item.transport}
              td 
                a.btn.btn-warning(href=`/editstock/${item._id}`) Edit
              td
                form(method='post' action='/deletestock') 
                  input(type='hidden' name='id' value=item._id)
                  button(type="submit", class="btn btn-danger btn-sm") Delete 
  footer.footer
    p &copy; 2025 MWF Company | All Rights Reserved
    .social-icons
      a(href='https://www.facebook.com' target='_blank')
        i.fab.fa-facebook-f
      a(href='https://twitter.com' target='_blank')
        i.fab.fa-twitter
      a(href='https://www.linkedin.com' target='_blank')
        i.fab.fa-linkedin-in
  script(src='/scripts/stock.js')      
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js')
  
