extends layouttables 

block content
  h2 MWF Stocklist
  .search-bar-container
    .search-left
      .input-group
        span.input-group-text
          i.fas.fa-search
        input.form-control(type='text', id='searchInput', placeholder='Search a product...')
    .search-right
      select#filterBy.form-select
        option(value='') Filter by
        option(value='productType') Product Type
        option(value='supplierName') Supplier
      select#sortBy.form-select
        option(value='') Sort by
        option(value='date') Date
        option(value='quantity') Quantity
      a.button(href='/stock' type='button') Add Stock  
      button.btn-filter(type='button')
        i.fas.fa-filter
  table
    thead
      tr
        th Product Type
        th Product Name
        th Quantity
        th Cost Price
        th Total Price
        th Quality
        th Color
        th Measurement
        th Date
        th Supplier's Name
        th Update 
        th Delete
    tbody(id='stockTable')
      if items.length 
        each item in items 
          tr
            td #{item.productType}
            td #{item.productName}
            td #{item.quantity}
            td #{item.costPrice}
            td #{item.productPrice}
            td #{item.quality}
            td #{item.color}
            td #{item.measurement}
            td #{moment(item.date).format("DD-MM-YYYY")}
            td #{item.supplierName}
            td 
              a.btn.btn-warning(href=`/editstock/${item._id}`) Edit
            td
              form(method='post' action='/deletestock') 
                input(type='hidden' name='id' value=item._id)
                button(type="submit", class="btn btn-danger btn-sm") Delete 

  footer.footer
    p &copy; 2025 MWF Company | All Rights Reserved
    .social-icons
      a(href='https://www.facebook.com' target='_blank')
        i.fab.fa-facebook-f
      a(href='https://twitter.com' target='_blank')
        i.fab.fa-twitter
      a(href='https://www.linkedin.com' target='_blank')
        i.fab.fa-linkedin-in
  script(src='/scripts/stock.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js')
