extends layoutUser
block content
  header
    h2 Mayondo Wood &amp; Furniture User Management
  .container
    .header
      | Users List
      a.button(href='/userForm') + Add New
    .search-bar
      input#searchInput(type='text' placeholder='Search Users' onkeyup='searchUsers()')
    table#usersTable
      thead
        tr
          th Profile Picture
          th Full Name
          th EmailAddress
          th User Name
          th Gender
          th Role
          th Phone Number
          th Address
          th Registration Date
          th Status
          th Update
          th Edit 
      tbody
        if users.length 
          each user in users
            tr 
              td
                if user.profilePicture
                  img(src="/uploads/"+user.profilePicture, alt="User profile picture", width="100px", height="100px")
                else
                  span No Picture
              td #{user.fullName}
              td #{user.emailAddress}
              td #{user.userName}
              td #{user.gender}
              td #{user.role}
              td #{user.phoneNumber}
              td #{user.address}
              td #{user.date}
              td
                if user.isActive
                  span(style="color: green; font-weight: bold;") #{user.status || "Active"}
                else
                  span(style="color: red; font-style: italic;") Inactive
              td
                form(action=`/users/${user._id}/toggle`, method="POST", style="display:inline;")
                  if user.isActive
                    button(type="submit", class="btn btn-danger btn-sm") Deactivate
                  else
                    button(type="submit", class="btn btn-success btn-sm") Activate
              td 
                a.btn.btn-warning(href=`/edit-profile`) Edit      
  footer.footer
    p &copy; 2025 MWF Company | All Rights Reserved
    .social-icons
      a(href='https://www.facebook.com' target='_blank')
        i.fab.fa-facebook-f
      a(href='https://twitter.com' target='_blank')
        i.fab.fa-twitter
      a(href='https://www.linkedin.com' target='_blank')
        i.fab.fa-linkedin-in
  script(src='/scripts/user.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js')
